@import "../abstracts/variables";
@import "../abstracts/mixins";

header {
    color: $light;
    border-radius: 10px;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 490px;


    .header__left {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            width: 40px;
            margin: 0 1em;
            img {
                width: 100%;
            }
        }

        .header__hamburger-menu {
            font-size: 1.1em;
            margin: 0 1em;

            @include laptop {
                display: none;
            }
        }

        @include laptop{
            width: auto;
        }

    }

    .header__primary-nav {
        
        ul {
            width: 100%;
            text-align: right;
            height: 0px;
            overflow: hidden;
            transition: .3s;
            
            li {
                text-align: center;
                padding: 1em;
                margin: 0em 1em;
                list-style: none;

                a {
                    color: $light;
                    text-decoration: none;
                    transition: .2s;
                    &:hover{
                        border-bottom:  double;
                        border-width: 12px;
                        border-color: $accent-primary
                    }
                }

                @include laptop{
                    display: inline-block;
                }

            }

            @include laptop{
                height: fit-content;
            }
        }

    }

    @include tablet{
        width: 65%;
    }

    @include laptop{
        max-width: 65%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        
    }


}
