@import '../abstracts/variables';


header{
    background-color: $dark;
    color: $light;
    border-radius: 10px;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__left{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    }


    .header__primary-nav{
        display: none;
        ul{
            width: 100%;
            text-align: right;
            li{
                display: inline-block;
                padding: 1em;
                margin: 0em 1em;
                list-style: none;

                a{
                    color: $light;
                    text-decoration: none;
                }
            }
            
        }
    }
}