* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 100vw;
}

body {
    background-color: $black;
    color: $light;
    transition: .1s;

    & > * {
        margin: 0 auto;
        max-width: 1200px;

        @include big-screen {
            max-width: 70%;
            font-size: 24px;
        }
    }
}

.hover-state {
    transform: scale(1.1);
    box-shadow: 2px 2px 0px 3px $gray;
}
