button{
    padding: .5em;
    background-color: $dark;
    border: 2px groove $accent-primary;
    color: $light;
    border-radius: 20px;
    box-shadow: 2px 4px 2px 2px $dark;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    display: inline-block;

    &:hover{
        @extend .hover-state;
    }

}

