@import "../abstracts/variables";
@import "../abstracts/mixins";

//portfolio cards
.portfolio-card {
    background-color: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    border-radius: 10px;

    &:nth-child(odd) {
        flex-direction: row;

        @include tablet {
            margin: 1em auto 1em 10vw;
        }
    }
    &:nth-child(even) {
        flex-direction: row-reverse;

        @include tablet {
            margin: 1em 10vw 1em auto;
        }
    }

    @include tablet {
        max-width: 50%;
    }

    & > * {
        padding: 1em;
    }
}

//skill cards

.skill-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;

    & > * {
        margin: 0.5em;
    }
}


