.contact__container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet{
        flex-direction: row;

        .contact__form{
            width: 900px;
        }
    }

    .contact__form{
        button{
            width: fit-content;
            margin: 0 auto;
        }
    }


    .social-icon-container{
        p{
            font-size: 1.1em;
        }
        ul{
            li{
                display: inline-block;
                padding: 1em;
                list-style: none;

                @include tablet{
                    display: block;
                }
            }
        }
    }
    
}