//colors
$black: #090909;
$dark: rgba(52,61,70, 0.4);
$gray: rgba(63, 63, 63, 0.4);
$dark-gradient: linear-gradient(to top, #09e485 0%, red 50%,#0291e3 100%);
$light: #d4dce2;
$accent-primary: #99ca3c;


//screen sizes
$mobile-big: 425px;
$tablet: 768px;
$laptop: 1024px;
$qhd: 1440px;
$big-screen: 2160px;